<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="SUITE" verbose="1" thread-count="1"
	parallel="methods">
	<parameter name="remoteURL" value="" /><!-- http://192.168.0.181:4444/wd/hub -->
	<listeners>
		<listener class-name="com.testNgListener.CustomListener_HMap" />
	</listeners>

	<!-- ${environment} -->

	<test name="TESTS">
		<parameter name="sheetAbsPath" value="${sheetAbsPath}" />
		<parameter name="environment" value="${environment}" />
		<parameter name="browser" value="chrome" />
		<parameter name="platform" value="" />
		<parameter name="user" value="USR" />
		<classes>
			<class name="tests.ZohoAutomation">
				<methods>
					<!-- <include name="createJobs"></include> -->
					<include name="fillTimeLog"></include>
				</methods>
			</class>
		</classes>
	</test>
</suite>